@import "leaflet";

#trees-id-map-progress{
	border: 1px solid teal;
	transition: all 0.5s ease-out;
}
#trees-id-map-progress-bar{
	height: 0.5em;
	background-color: teal;
	transition: all 0.5s ease-out;
}
#trees-id-map{
	height:600px;
	background:teal;
	display: block;
}